.list {
  box-sizing: border-box;
  padding: 20px 40px;
  display: flex;
  border-radius: 0 0 35px 35px;
  gap: 10px;
  flex-direction: column;
  height: 70%;
  align-items: center;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
  padding-right: 25px
}

ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
