* {
  margin: 0%;
  padding: 0%;
  border-style: none;
}

body {
  /* background: radial-gradient(rgba(26, 31, 87, 1), rgba(26, 28, 48, 1)); */
  background-color: rgb(52, 46, 55);
  background-image: url("./assets/dark-wood1.png");
}



ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.corner {
  border: 1.6px solid rgba(120, 118, 188, 1);
  min-width: 6px;
  min-height: 6px;
  max-width: 6px;
  max-height: 6px;
  border-radius: 50%;
  display: flex;
  position: absolute;
}


li {
  list-style-type: none;
  color: rgba(57, 59, 90, 1);
}

p {
  word-wrap: break-word;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  word-wrap: break-word;
  transition: 200ms;
  max-width: 265px;
}

.trash {
  cursor: pointer;
  margin-left: 6.5px;
  display: flex;
  left: 290px;
  position: absolute;
  max-width: 100px;
  max-height: 30px;
}

